@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
body {
    font-family: "Roboto Mono", monospace;
    color: #252525;
    font-weight: 400;
    background-color: #faf0dd;
    border: 1.6rem solid #5fbaca;
    max-width: calc(100vw - 3.1rem);
    max-height: calc(100vh - 3.1rem);
    width: 100%;
    height: calc(100vh - 3.1rem);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #5fbaca;
}

.card {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid #5fbaca;
    border-radius: 50px;
    gap: 0.5rem;
    background-color: #5fbaca;
}

.card img {
    max-width: 25rem;
    max-height: 35rem;
    border-radius: 40px 40px 0 0;
}

.card h2 {
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #faf0dd;
    font-style: normal;
    font-size: 30px;
    margin: 0.5rem;
    letter-spacing: 2px;
    border-bottom: 1px solid #faf0dd;
    padding-bottom: 0.5rem;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.card-info p {
    font-size: 15px;
    font-weight: 500;
    max-width: 23.5rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #faf0dd;
}

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.skill {
    background-color: #faf0dd;
    color: #252525;
    font-size: 15px;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #252525;
    text-align: center;
    text-transform: uppercase;
}
